<header style="padding:10px;background:#f9f9f9;border-top:3px solid #00b2b1"><img id="Teradata-logo" src="https://www.teradata.com/Teradata/Images/Rebrand/Teradata_logo-two_color.png" alt="Teradata" width="220" align="right" />

## NewSQL Analytic Functions using TeradataML 
### Load, Prepare and Analyze Data At Scale
</header>

**Contenido**
1. Connect to the Vantage environment. Replace any hosts, schemas, usernames, etc. as necessary.
2. Create and Load Tables from source data sets.
3. Basic Data Discovery.  Metadata and feature analysis
4. Working with Data - aggregations, joins, and basic transformations.
5. Advanced Data Preparation - column assignments using complex functions.
6. Visualizing results.

## Architecture of the Teradataml package
Teradataml seeks to provide easy-to-use interfaces for working with data that resides in a Teradata Vantage system.  Typically, Python developers will make use of common, powerful data management functions using libraries like python pandas.  Teradataml extends these same functions to the Teradata ecosystem, allowing users to apply straightforward, powerful analytics and data manipulation functions that leverage the full power and scale of Vantage without data movement or limitations on client resources without writing complex SQL.

**Referencias**
* Python Package User Guide: https://docs.teradata.com/r/1YKutX2ODdO9ppo_fnguTA/root
* Teradataml Python Reference: https://docs.teradata.com/r/xLnbN80h9C6037gi3ildag/root

In [ ]:
import json
import warnings
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
warnings.filterwarnings('ignore')

from teradataml import DataFrame, in_schema, create_context, remove_context, copy_to_sql, fastload
from sqlalchemy import create_engine
from sqlalchemy import func

# Section 1.  Connecting to the Database
With Teradataml, we create a connection context with parameters controlling default schemas, temporary database for creating views, etc.

In [ ]:
%run -i /home/jovyan/JupyterLabRoot/UseCases/startup.ipynb
eng = create_context(host = 'host.docker.internal', username='demo_user', password = password)
print(eng)

# Section 2. - Create and Load Tables

## Load Sample Data from plain Files

In [ ]:
qry = '''
CREATE TABLE CALL_CENTER_CALLS
(
    CALL_ID VARCHAR(20),
    CUSTOMER_ID DECIMAL(18,0),
    CC_REP_ID DECIMAL(18,0),
    CC_CALL_DT TIMESTAMP(6),
    CALL_TYPE VARCHAR(50)
);
'''
eng.execute(qry)

In [ ]:
copy_to_sql(pd.read_csv('../data/CALL_CENTER_CALLS.csv'), table_name='CALL_CENTER_CALLS')

In [ ]:
qry = '''
CREATE TABLE STORE_VISIT
(
    STORE_ID DECIMAL(18,0),
    CUSTOMER_ID DECIMAL(18,0),
    VISIT_DT TIMESTAMP(6),
    ACTION VARCHAR(50)
);
'''
eng.execute(qry)

In [ ]:
copy_to_sql(pd.read_csv('../data/STORE_VISIT.csv'), table_name='STORE_VISIT')

In [ ]:
qry = '''
CREATE TABLE WEB 
     (
     CUSTOMER_ID DECIMAL(18,0) NOT NULL,
     SERVER_ID VARCHAR(5) NOT NULL,
     PAGE VARCHAR(50),
     BROWSE_ID VARCHAR(20)
     )
PRIMARY TIME INDEX (TIMESTAMP(6), DATE '2016-01-01', MINUTES(1), COLUMNS (SERVER_ID), NONSEQUENCED); 
'''
eng.execute(qry)

In [ ]:
copy_to_sql(pd.read_csv('../data/WEB.csv'), table_name='WEB')

In [ ]:
qry = '''
CREATE MULTISET TABLE CUSTOMER
(
    CUSTOMER_ID DECIMAL(18,0) NOT NULL,
    F_NAME VARCHAR(30),
    L_NAME VARCHAR(30),
    VALIDITY PERIOD(DATE) FORMAT 'YYYY-MM-DD' AS VALIDTIME,
    CUST_ZIP VARCHAR(5),
    CUST_LOCATION ST_GEOMETRY,
    ETHNICITY VARCHAR(20),
    GENDER CHAR(1),
    CHURN_FLAG VARCHAR(1)
)
INDEX(CUST_LOCATION);
'''
# Execute Query
eng.execute(qry)

In [ ]:
copy_to_sql(pd.read_csv('../data/CUSTOMER.txt', sep='\t'), table_name='CUSTOMER')

In [ ]:
qry = '''
CREATE TABLE CUST_COMMENT
(
    COMMENT_ID VARCHAR(20),
    CUSTOMER_ID DECIMAL(18,0),
    COMMENT_DT TIMESTAMP(6),
    CHANNEL_TYPE VARCHAR(1),
    CHANNEL_ID VARCHAR(20),
    COMMENT_TEXT CLOB
)
INDEX(CUSTOMER_ID);
'''
eng.execute(qry)

In [ ]:
copy_to_sql(pd.read_csv('../data/CUST_COMMENT.csv'), table_name='CUST_COMMENT')

In [ ]:
## copy_to_sql(pd.read_csv('CUST_COMMENT.csv'), table_name='CUST_COMMENT', index = True, index_label = 'CUSTOMER_ID', if_exists = 'replace', types = {'COMMENT_ID': VARCHAR, 'CUSTOMER_ID': DECIMAL, 'COMMENT_DT': TIMESTAMP, 'CHANNEL_TYPE': VARCHAR, 'CHANNEL_ID': VARCHAR, 'COMMENT_TEXT': CLOB})

In [ ]:
qry = '''
CREATE TABLE STORE
(
    STORE_ID DECIMAL(18,0) NOT NULL,
    STORE_DESC VARCHAR(80),
    STORE_ZIP VARCHAR(5),
    STORE_LOCATION ST_GEOMETRY
)
INDEX(STORE_LOCATION);
'''
eng.execute(qry)

In [ ]:
srvr = pd.read_csv('../data/STORE.csv')
srvr.rename(columns = {'STORE ZIP':'STORE_ZIP'}, inplace = True)
copy_to_sql(srvr, table_name='STORE')

In [ ]:
qry = '''
CREATE MULTISET TABLE SERVER
(
    SERVER_ID VARCHAR(5) NOT NULL,
    SERVER_ZIP VARCHAR(5),
    SERVER_LOCATION ST_GEOMETRY
)
INDEX (SERVER_LOCATION);
'''
eng.execute(qry)

In [ ]:
srvr = pd.read_csv('../data/SERVER.csv')
srvr.rename(columns = {'SERVER ZIP':'SERVER_ZIP','SERVER_LAT':'SERVER_LOCATION'}, inplace = True)
copy_to_sql(srvr, table_name='SERVER')

# Section 3 - Data Discovery

### Look at table statistics, sample data, simple lookups
One of the most powerful features of the teradtaml functions is that they push processing down to the Teradata system, allowing users to perform analysis without pulling all the data back to the client.

In [ ]:
ccc = DataFrame('CALL_CENTER_CALLS')

In [ ]:
ccc.head(5)

In [ ]:
ccc.head(5).show_query()

In [ ]:
ccc.shape

In [ ]:
ccc.loc[ccc.CUSTOMER_ID == 1455].filter(items = ['CC_REP_ID', 'CC_CALL_DT', 'CALL_TYPE']).sort('CC_CALL_DT')

In [ ]:
ccc.loc[(ccc.CUSTOMER_ID == 1455) | (ccc.CUSTOMER_ID == 1526)].filter(items = ['CUSTOMER_ID', 'CC_CALL_DT', 'CALL_TYPE']).sort(['CUSTOMER_ID', 'CC_CALL_DT'])

# Section 4 - Working with Data at Scale
Act on our data sets without having to return all of the data, and leverage the computing power of the Teradata Vantage cluster.

## 4.1 Aggregations
We can use these "fluent" methods to keep the code as brief and expressive as possible

In [ ]:
ccc.filter(items = ['CUSTOMER_ID','CALL_TYPE']).groupby('CALL_TYPE').count()

In [ ]:
frq_call_type = ccc.filter(items = ['CUSTOMER_ID','CALL_TYPE']).groupby('CALL_TYPE').count().sort('CALL_TYPE', False).to_pandas()

In [ ]:
frq_call_type.dtypes

In [ ]:
import plotly.express as px
fig = px.bar(frq_call_type, x='CALL_TYPE', y='count_CUSTOMER_ID')
##fig.update_xaxes(tickangle = 0, title='Tipo de Llamada')
fig.update_yaxes(title="Frecuencia")  
fig.show()

## 4.2 Simple Transformations
Create new "Virtual Dataframes" that are the result of dropping columns or adding new ones via simple expressions

## 4.3 Joins
Join dataframes using python pandas-style join methods

In [ ]:
tdf_customer = DataFrame('CUSTOMER')
print(tdf_customer.head(5))
tdf_cust_comment = DataFrame('CUST_COMMENT')
print(tdf_cust_comment.head(5))

In [ ]:
tdf_comment_full = tdf_cust_comment.join(other = tdf_customer, 
                                         on = ['CUSTOMER_ID = CUSTOMER_ID'], 
                                         how = 'inner', 
                                         lsuffix = 'cID_', 
                                         rsuffix = 'cOM_')
tdf_comment_full.drop(['COMMENT_ID', 'cOM__CUSTOMER_ID', 'CHANNEL_ID', 'GENDER', 'CHANNEL_TYPE', 'ETHNICITY', 'VALIDITY'], axis = 1)

## 5 - Visualizations
## 5.1 - Example - Geospatial query to return plottable data
Use a limited SQL statement to generate my dataframe

In [ ]:
qry = '''
SELECT C.CUSTOMER_ID, 
  S.SERVER_ID, 
  CAST(C.CUST_LOCATION.ST_SphericalDistance(S.SERVER_LOCATION)/1000 AS DECIMAL(10,0))AS KM_DISTANCE 
FROM CUSTOMER C, SERVER S
'''

tdf_distance = DataFrame.from_query(qry)

In [ ]:
tdf_distance.head()

In [ ]:
tdf_distance.sort('KM_DISTANCE', ascending = False)

In [ ]:
sns.distplot(tdf_distance.to_pandas()['KM_DISTANCE'].astype(float), bins=50);

In [ ]:
eng.execute("DROP TABLE CALL_CENTER_CALLS;")

In [ ]:
eng.execute("DROP TABLE STORE_VISIT;")

In [ ]:
eng.execute("DROP TABLE WEB;")

In [ ]:
eng.execute("DROP TABLE STORE;")

In [ ]:
eng.execute("DROP TABLE CUSTOMER;")

In [ ]:
eng.execute("DROP TABLE CUST_COMMENT;")

In [ ]:
eng.execute("DROP TABLE SERVER;")

In [ ]:
remove_context()